/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
}

html, body {
  height: 100%;
}

.clearfix {
  clear: both;
}

.app-header {
  height: 10%;
  background-color: #66ff99;
  float: left;
  border: 1px solid black;
}

.app-article {
  height: 80%;
  width: 50%;
  background-color: #00BFFF;
  float: left;
}

.app-aside {
  height: 80%;
  width: calc(50% / 2);
  float: left;
}

.aside-item1 {
  float: left;
  height: calc(100% / 2);
  background-color: #ffff66;
}

.aside-item2 {
  float: left;
  height: calc(100% / 2);
  background-color: #FFA07A;
}

.aside-item3 {
  height: calc(100% / 2);
  border: 1px solid black;
}

.aside-item4 {
  height: calc(100% / 2);
  background-color: #32CD32;
}

.app-main {
  height: 80%;
  width: calc(50% / 2);
  float: left;
  background-color: pink;
  border: 1px solid black;
}

.app-footer {
  height: 10%;
  float: left;
}

.footer-item1, .footer-item2, .footer-item3 {
  width: calc(100% / 3);
  height: 100%;
  float: left;
  border: .25px solid black;
  background-color: #99ccff;
}
